html{
  scroll-behavior: smooth;
}

body{
  margin: 0px;
}

divide{
  font-size: 24px;
  color: whitesmoke;
}

h1{
  font-size: 64px;
}

h2{
  font-size: 40px;
}

/** Navigation Bar **/

.navbar{
  z-index: 1;
  position: fixed;
  background-color: rgba(34, 34, 34, 0.651);
  font-size: 24px;
  text-decoration: none;
}

.navbar a{
  padding: 5.6px;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition-duration: 500ms;
  font-family: 'Signika Negative', sans-serif;
}

a:hover{
  color: rgb(0, 143, 143);
}

/** Section Images **/

.introImage{
  background-image: url("https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/power-grid-merl.jpg");
  filter: blur(4px);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lightImage{
  background-color: rgb(204, 204, 204);
  background-image: url("https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/backgrounds/lightBackground.png");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.darkImage{
  background-color: rgb(0, 0, 0);
  background-image: url("https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/backgrounds/darkBackground2.png");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.conditionsSubImage{
  background-color: rgb(3,178,178);
  background-image: url('https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/conditionsImage.png');
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.skillsSubImage{
  background-color: rgb(0,176,195);
  background-image: url('https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/intervalImages/responsibilitiesImage.jpg');
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.certificationSubImage{
  background-color: rgb(43,172,234);
  background-image: url('https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/intervalImages/certificationImage.png');
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.educationSubImage{
  background-color: rgb(66,146,51);
  background-image: url('https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/intervalImages/educationImage.webp');
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.salarySubImage{
  background-color: rgb(66,146,51);
  background-image: url('https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/intervalImages/salaryImage.png');
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
}

.pcSubImage{
  background-color: rgb(66,146,51);
  background-image: url('https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/intervalImages/prosAndConsImage.png');
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.page6Image{
  background-image: url("https://raw.githubusercontent.com/JaydenRandhawa/JaydenRandhawa.github.io/master/Assets/backgrounds/lightBackground.png");
  min-height: 100vh;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/** Section Text **/

@keyframes reveal {
  from{opacity: 0%;}
  to{opacity: 100%;}
}

/** Introduction Section **/

.introTitle {
  position: absolute;
  top: 46%;
  animation-name: reveal;
  animation-duration: 3s;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-family: 'Signika Negative', sans-serif;
}

.introSubtitle {
  position: absolute;
  top: 54%;
  animation-name: reveal;
  animation-duration: 8s;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgba(255, 255, 255, 0.733);
  font-family: 'Signika Negative', sans-serif;
}

/** Responsibilities Section **/

.responsibilitiesTitle {
  width: 500px;
  text-align: center;
  position: absolute;
  top: 110%;
  left: 25%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.responsibilitiesSubtitle {
  position: absolute;
  text-align: center;
  width: 30%;
  top: 150%;
  left: 25%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

/** Schedule Section **/

.scheduleTitle {
  width: 500px;
  text-align: center;
  position: absolute;
  top: 110%;
  left: 75%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.scheduleSubtitle {
  position: absolute;
  text-align: center;
  font-size: 32px;
  top: 150%;
  left: 75%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

/** Conditions Section **/

.conditionsTitle {
  text-align: center;
  position: absolute;
  top: 255%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(200, 200, 200);
  font-family: 'Signika Negative', sans-serif;
}

/** Residential **/

.residentialTitle{
  position: absolute;
  text-align: center;
  top: 275%;
  left: 28%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

.residentialList{
  position: absolute;
  line-height: 35px;
  text-align: left;
  font-size: 22px;
  top: 305%;
  left: 33%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

/** Lineworker **/

.lineworkerTitle{
  position: absolute;
  text-align: center;
  top: 275%;
  left: 78%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

.lineworkerList{
  position: absolute;
  line-height: 35px;
  text-align: left;
  font-size: 22px;
  top: 305%;
  left: 79%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

/** Skills Section **/

.skillsTitle {
  text-align: center;
  position: absolute;
  top: 405%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.skillsList1{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 450%;
  left: 16%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.skillsList2{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 450%;
  left: 49%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.skillsList3{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 450%;
  left: 82%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

#page4 div1{
  transition-duration: 500ms;
}

#page4 div1:hover{
  color: rgb(250, 74, 74);
}

/** Certification Section **/

.certificationTitle {
  text-align: center;
  position: absolute;
  top: 555%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(200, 200, 200);
  font-family: 'Signika Negative', sans-serif;
}

.certificationList1{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 600%;
  left: 15%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

.certificationList2{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 600%;
  left: 48%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

.certificationList3{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 600%;
  left: 81%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

#page5 div1{
  transition-duration: 500ms;
}

#page5 div1:hover{
  color: rgb(250, 74, 74);
}

/** Education Section **/

.educationTitle{
  text-align: center;
  position: absolute;
  top: 705%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.educationSubtitle{
  position: absolute;
  text-align: center;
  top: 735%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.educationList1{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 775%;
  left: 15%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.educationList2{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 775%;
  left: 48%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.educationList3{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 774%;
  left: 81%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

#page6 a{
  text-decoration: none;
  transition-duration: 500ms;
}

#page6 div1:hover{
  color: rgb(250, 74, 74);
}

/** Outlook Section **/

.outlookTitle{
  width: 500px;
  text-align: center;
  position: absolute;
  top: 855%;
  left: 25%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

.outlookSubtitle{
  position: absolute;
  text-align: center;
  width: 30%;
  top: 888%;
  left: 25%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

/** Salary Section **/

.salaryTitle{
  width: 500px;
  text-align: center;
  position: absolute;
  top: 855%;
  left: 75%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

.salarySubtitle{
  position: absolute;
  text-align: center;
  top: 888%;
  left: 75%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

.salaryImage{
  position: absolute;
  top: 933%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** Pros and Cons Section **/

.pTitle {
  text-align: center;
  position: absolute;
  top: 1005%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.cTitle {
  text-align: center;
  position: absolute;
  top: 1048%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.pcList1{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 1050%;
  left: 16%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.pcList2{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 1050%;
  left: 49%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.pcList3{
  width: 25%;
  position: absolute;
  text-align: center;
  font-size: 22px;
  top: 1050%;
  left: 82%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;
}

.p{
  transition-duration: 500ms;
}

.p:hover{
  color: rgb(0, 202, 0);
}

.c{
  transition-duration: 500ms;
}

.c:hover{
  color: red;
}

/** Description Section **/

.descriptionTitle{
  text-align: center;
  position: absolute;
  top: 1107%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

.descriptionSubtitle{
  position: absolute;
  text-align: center;
  width: 70%;
  top: 1150%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(255, 255, 255);
  font-family: 'Signika Negative', sans-serif;
}

/** Misc **/

.disableSelect {
  user-select: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}
